DB_URL=jdbc:postgresql://localhost:5432/your_database
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

JWT_SECRET=your_jwt_secret
JWT_EXPIRATION_MS=900000

REFRESH_COOKIE_SECURE=false
REFRESH_COOKIE_SAME_SITE=Lax

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_SSL=false